body {
  background-color: #2c3e50;
  color: white;
  font-family: sans-serif;
}

.author-row {
  border: 1px solid #5d6d7e;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  display: flex; 
  gap: 20px;
  align-items: center;
}

.author-info {
  width: 200px;
  flex-shrink: 0; /* Щоб інформація не стискалася */
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
}

.posts-list {
  display: flex; 
  gap: 10px;
  overflow-x: auto; /* Додає скрол, якщо пости не влазять */
  padding-bottom: 10px;
  width: 100%;
}

.post-card {
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px; /* Фіксована ширина карточки посту */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open-btn {
  display: block;
  text-align: center;
  border: 1px solid white;
  padding: 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
.open-btn:hover {
  background-color: rgba(255,255,255,0.1);
}